
<!-- main container -->
<div class="container main">

    <!-- row wrapper -->
    <div class="row">
        <!-- backlogs -->
        <div class="column col-sm-2" id="backlog">bklg</div>

        <!-- sprints -->
        <div class="column col-sm-2" id="sprint">sprnt</div>

        <!-- todos -->
        <div class="column col-sm-2" id="todo">todo</div>

        <!-- doings -->
        <div class="column col-sm-2" id="doing">doing</div>

        <!-- verifies -->
        <div class="column col-sm-2" id="verify">verify</div>

        <!-- dones -->
        <div class="column col-sm-2" id="done">done</div>
    </div>

</div>